.nav{
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
}

.badge{
    background-color: #c851ff34;
    color: #6f2a7e;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}

.button_light{
  background-color: transparent;
    color: #006adc;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: 500;
}

.title{
  background: linear-gradient(0deg, #11181c 20%, rgba(17, 24, 28, 0) 45%), linear-gradient( 90deg, #0f3058 0%, #006adc 33.333%, #11181c 50%, #11181c 100% );
    background-size: 300% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 1.8s ease backwards;
    animation: intro-gradient 1.8s ease backwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-text-fill-color: transparent;

    font-size: 4rem;
    font-weight: 400;
}

.titlespan{
  -webkit-animation: fadeIn 0.4s ease backwards;
    animation: fadeIn 0.4s ease backwards;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    margin:2rem 0px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px 0;
}
.hero_text{
    margin-bottom: 20px;
    width: 50%;
}
.hero_form{
  width: 50%;
}

.form{
  width: 60%;
  margin: auto;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 20px;
}

.form h1{
  font-size: 1.2rem;
  font-weight: 500;
  margin: auto;
}

.form_group{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
}

.form_group label{
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.form_group input{
  padding: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
}

.form_group input:focus{
  border: 1px solid #006adc;
}

.form_group textarea{
  padding: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
}

.form_group textarea:focus{
  border: 1px solid #006adc;
} 


.form_group button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #006adc;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form_group button:hover{
  background-color: #0054a6;
}

@media screen and (max-width: 768px){
  .hero{
    flex-direction: column;
  }
  .hero_text{
    width: 100%;
  }
  .hero_form{
    width: 100%;
  }
  .form{
    width: 100%;
  }
}



